# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Popular Languages
- Commomly Used Lanuages
- Data Sciences Tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Keras
3. Pandas
4. PyTorch

|Data Science Tools|
|------------------|
|Apache Spark|
|Jupyter Notebooks|
|R Studio's|

### Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [16]:
#This will convert 200 minutes to hours by diving by 60
h=200//60
m=200%60
print("Hours=",h)
print("Minutes=",m)

Hours= 3
Minutes= 20

## Author
Ho Tien Huang